*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>;
}

h1, h2{
	font-weight: 200;
	text-transform: uppercase;
	display: inline-block;
	
}

h1 {
	padding: 30px 0 0 100px;
	color: #000000;
	}

h2 {
	
	font-family: <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 80px;

}	

p {
	font-size: 20px;
	padding-top: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div{
	padding: 30px;
}

nav {
	font-family: 'Petit Formal Script', cursive;
	font-size: 28.5px;
    line-height: 30px;
    width: 57%;
    float: right;
    padding: 30px;	

}
ul {
	list-style: none;

}

li a{
	text-decoration: none;
	color: #000000;
	margin: 30px;
	display: block;
	float: left;
}

aside {
	display: block;
	width: 200px;
	height: 800px;
	background: #ff0000;
	float: right;
}

section {
	display: block;
	width: 1000px;
	height: 420px;
	background: #B38481;
	padding: 10px;
	color: white;
	overflow: auto;
	margin: 0 auto;
}

footer {
	font-family: 'Petit Formal Script', cursive;
	text-align: center;
	border-top: 1px solid black;
	padding: 20px 0;
	margin-top: 35px;
	clear: both;
}

#about2 img {
	display: block;
	clear: both;
	width: 100%;
}

#about {
	padding-left: 20px;
	font-size: 28px;
	width: 40%;
	display: block;
	float: left;
}

#about2 {
	float: right;
	width: 60%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}