body {
	background: url("assets/background.jpg");
}


p {
	font-family: Calibri;
	font-color: white;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 7px;
}


