
body {
	background: url("assets/background.jpg");
}

h1 {
	color: white; 
	text-align: left;
	text-indent: 50px;
}

p { 
	text-align: left;
	font-family: Calibri;
	color: white;
	font-size: 14px;
	text-indent: 50px;
	
}


