
body {
	background: url("assets/stripes.png"), url("assets/background.jpg");
    background-repeat: repeat-x, no-repeat;
}

div{
	margin-top: 275px;
	margin-left: 100px;
}   
h1 {
	color: white; 
	text-align: left;
}
hr {
	width: 100px;
	margin: 0;
	border: none;
	background-color: #ff0000;
	height: 2px;

}
p { 
	text-align: left;
	font-family: Georgia;
	color: white;
	font-size: 20px;
	
	
}


